
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-mic-outline:before { content: '\e803'; } /* '' */
.icon-music-outline:before { content: '\e804'; } /* '' */
.icon-mic:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-heart-circled:before { content: '\e807'; } /* '' */
.icon-headphones-2:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-down-circle:before { content: '\e80b'; } /* '' */
.icon-user-1:before { content: '\e80c'; } /* '' */
.icon-volume-up:before { content: '\e80d'; } /* '' */
.icon-arrows-ccw:before { content: '\e80e'; } /* '' */
.icon-shuffle:before { content: '\e80f'; } /* '' */
.icon-play:before { content: '\e810'; } /* '' */
.icon-fast-bw:before { content: '\e811'; } /* '' */
.icon-fast-fw:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-pause:before { content: '\e814'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
